service vendor.sensors.qti /vendor/bin/sensors.qti
    class core
    user system
    group system
    disabled

service vendor.sensor-sh /vendor/bin/init.qcom.sensors.sh
    class core
    user root
    oneshot

on boot
    # Charging
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend
